body {
  background: -moz-radial-gradient(center, circle cover, $white 0%, $grey 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $white), color-stop(100%, $grey));
  background: -webkit-radial-gradient(center, circle cover, $white 0%, $grey 100%);
  background: -o-radial-gradient(center, circle cover, $white 0%, $grey 100%);
  background: -ms-radial-gradient(center, circle cover, $white 0%, $grey 100%);
  background: radial-gradient(center, circle cover, $white 0%, $grey 100%);
  background-color: #2b2b2b;
  &.homepage {
    background: $white;
  }
}

::-moz-selection {
  background: #2580dc;
  text-shadow: none;
}

::selection {
  background: #2580dc;
  text-shadow: none;
}

header {
  background: $water;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 30px;
  font-family: $title;
  font-weight: 900;
  color: $white;
  img {
    display: block;
    margin: 0 auto;
    max-width: 80px;
    float: left;
    margin-left: 15px;
  }
  h1, h2, h3, h4 {
    font-weight: 900;
    text-transform: uppercase;
    float: left;
    padding-left: 10px;
    text-align: left;
    margin: 5px 0;
  }
  a {
    color: $white;
    transition: color 0.3s;
    &:hover {color: $clearWater;}
  }
}

footer {
  text-align: center;
  color: darken($silver, 10%);
  font-size: 16px;
  padding: 50px 0;
  a {
    color: darken($silver, 10%);
    &:hover {color: $water;}
  }
}
section.text-left, .text-left {
  text-align: left;
  img {margin: 0.5em 0;}
}

section.text-right {
  text-align: left;
}

.reveal section:first-child {
  color: $white;
  text-align: left;
}

.reveal img {
  display: block;
  width: auto;
  margin: 0.5em auto;
}

img.full-img {
  width: 100% !important;
}

.arrow {
  display: block;
  float: left;
  background: $water;
  color: $white;
  position: relative;
  height: 50px;
  line-height: 1.5em !important;
  font-size: 30px !important;
  margin-right: 0px !important;
  padding: 0 35px 0 45px !important;
  &:first-child {padding-left: 15px !important;}
  &.mine {
    background: $mine;
    &:after {background: $mine;}
  }
}

.arrow:after {
  content: '';
  position: absolute;
  top: 7px;
  right: -18px;
  display: block;
  width: 37px;
  height: 37px;
  background: $water;
  z-index: 99;
  @include rotate(45deg);
  @include border-radius(3px);
}

.talk-item {
  display: table;
  width: 100%;
  height: 5em;
  text-align: center;
  background: lighten($mine, 10%);
  color: $white;
  transition: all 0.3s;
  margin: 20px 0;
  @include border-radius(3px);
  h3 {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    line-height: 1.4em;
  }
  &:hover {
    background: lighten($mine, 20%);
    text-decoration: none;
    color: $white;
  }
}