$white:                         #FFFFFF;
$black:                         #000000;
$mine:                          #202020;
$silver:                        #b3b3b3;
$grey:                          #dedede;
$dust:                          #e6e6e6;

$water:                         #2d95e3;
$clearWater:                    #bceafe;

$transparentWater:              rgba(45, 149, 227, 0.7);
$transparentBlack:              rgba(0, 0, 0, 0.7);

$fire:                          #e67e22;

$title:                         'museo-sans', Helvetica, sans-serif;
$text:                          'ff-tisa-web-pro', Georgia, serif;